body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}

#map {
  height: 90vh;
  width: 100%;
  margin: 0 auto;
  border: 2px solid #444;
  border-radius: 10px;
}
.contenedor {
  display: flex;
  flex-direction: row; /* 👈 asegura que estén uno al lado del otro */
  height: 100vh;
  }

  .titulo-principal {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  color: #2c3e50;
  margin-top: 30px;
  margin-bottom: 20px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #f1f1f1;
  color: #333;
  text-align: center;
  padding: 15px;
  font-size: 0.9em;
  border-top: 1px solid #ddd;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Contenedor navbar */
.navbar {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1100; /* ✅ Encima del mapa */
  display: flex;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo suave */
  padding: 10px 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Estilo de los enlaces */
.navbar a {
  display: block;
  padding: 10px 15px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  transition: background-color 0.3s, color 0.3s;
}

/* Al pasar el mouse */
.navbar a:hover {
  background-color: #333;
  color: white;
}
.leaflet-interactive.ruta-estetica {
  stroke-linecap: round;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

@media (max-width: 768px) {
.contenedor {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
}

  .filtros {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }

  #route_map {
    width: 100% !important;
    height: 400px;
  }

  .filtros select,
  .filtros button {
    width: 100%;
  }
}

